#acces token
token

#clipart downloads
download/
clipart/

#test file
test.py

#user datbases
joke_database.json

#images
*.png
*.jpg
*.gif
*.svg
*.jpeg

#python stuff
__pycache__/
*.py[cod]

#logs
logs/
